#estilosCervezas{
    display: grid;
    justify-items: center;
    gap: 40px;
    grid-template-columns:  1fr 1fr  ;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas: "imgipa imgnegra"
                         "imgroja imgrubia" 
}
#cervezas{
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 80px;
    margin: 0;
    width: 1fr;
    height: 1fr ; 
}
.container{
    padding: 40px;
    text-align: center;
}