
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30fr auto; 
    grid-template-areas: "header"
                          "main"
                          "footer";

}
main{
    grid-area: main;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }
h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
    padding: 80px;
    margin: 80px 40px 80px 40px;
    border: solid black;
    background-color: rgb(107, 71, 71);
}
#galeria{
 display: grid;
 grid-template-columns:  1fr 1fr 1fr ;
 grid-template-rows:  1fr 1fr;
 grid-template-areas: "img1 img2"
                      "img3 img4"
                                        
}
#galeria img{
    width:  90%;
    height: 60%;
    box-shadow: 0px 0px 10px red;
    border-radius: 10px;
    #descripcion{
        font-size: 10px;       
}
}
figcaption{
    margin-top: 1000px;
    font-size: 100px;
}
footer{
    grid-area: footer;
    width: 100%;
    background-color: rgb(51, 51, 51);
}
.logo{
    border-style: none;
    height: 350px;
}
#redes{
    font-size: 30px;
}
@media screen and (max-width: 950px){
    #galeria {
        grid-template-columns:  1fr 1fr ;
        grid-template-rows:  1fr 1fr 1fr;
        grid-template-areas: "img1 img2"
                            "img3 img4";
        gap: 30px;
       }
    
}
/*mobile*/
@media screen and  (max-width: 500px){
    #galeria {
        grid-template-columns:  1fr  ;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "img1"
                             "img2"
                             "img3" 
                             "img4"                  
       }
}
.slide{
    margin-top: 10px;
}