@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans+Narrow&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

nav ul li{
display: inline-block;
font-family: 'Lato', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto Flex', sans-serif;
}
ul{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    a{
        font-size: 40px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}


