$color: rgb(100, 100, 100);
$primary-color: red;
$secondary-color: blue;
$gray-color: gray;
$black-color: black;
$white-color: white;
$ancho: 400px;
$tipografia: azul; 
$mostrar:true;
$i:1;
$dimension:200px;


$texts: 
"h1"   3rem    600   1.6,
"h2"   2.8rem  500   1.6,
"h3"   1.5rem  bold  1.6,
"p"    1rem   200;

$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1024px,

); 


