@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans+Narrow&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30fr auto; 
    grid-template-areas: "header"
                          "main"
                          "footer";
background-color: rgb(255, 255, 255);
}
nav ul li{
display: inline-block;
font-family: 'Lato', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto Flex', sans-serif;
}
header{
grid-area:header;
width: 100%;
height: 100%;
padding: 0%;
margin:  0%;
background-color: rgb(255, 255, 255);
} 
ul{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
    list-style: none;
}
a{
    font-size: 90px;
    color: aliceblue;
    text-decoration: none;
}
main{
    grid-area: main;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
 }
h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
    padding: 80px;
    margin: 80px 40px 80px 40px;
    border: solid black;
    background-color: rgb(107, 71, 71);
}

#galeria {
 display: grid;
 grid-template-columns:  1fr 1fr 1fr ;
 grid-template-rows:  1fr 1fr;
 grid-template-areas: "img1 img2"
                     "img3 img4"
                   
}
#galeria img{
    width:  90%;
    height: 60%;
    box-shadow: 0px 0px 10px red;
    border-radius: 10px;
}
figcaption{
    margin-top: 1000px;
    font-size: 100px;
}
footer{
    grid-area: footer;
    width: 100%;
    background-color: rgb(51, 51, 51);
}
.logo{
    border-style: none;
    height: 350px;
}
p{
    font-size: 60px;
}
@media screen and (max-width: 950px){
    #galeria {
        grid-template-columns:  1fr 1fr ;
        grid-template-rows:  1fr 1fr 1fr;
        grid-template-areas: "img1 img2"
                            "img3 img4";
        gap: 30px;
       }
    
}
/*mobile*/
@media screen and  (max-width: 500px){
    #galeria {
        grid-template-columns:  1fr  ;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "img1"
                             "img2"
                             "img3" 
                             "img4"                  
       }
}
