@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans+Narrow&family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans+Narrow&family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 30fr auto;
      grid-template-rows: 1fr 30fr auto;
      grid-template-areas: "header" "main" "footer";
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 60px;
  color: black;
  padding: 80px;
  margin: 80px 40px 80px 40px;
  border: solid black;
  background-color: #6b4747;
}

#galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "img1 img2" "img3 img4";
}

#galeria img {
  width: 70%;
  height: 50%;
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
  border-radius: 10px;
}

.descripcion {
  font-size: 15px;
  margin-top: 50px;
}

h2 {
  margin-top: 900px;
  text-align: center;
  font-size: 40px;
}

figcaption {
  margin-top: 1000px;
  font-size: 100px;
}

#redes {
  font-size: 30px;
}

@media screen and (max-width: 950px) {
  #galeria {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "img1 img2" "img3 img4";
    gap: 30px;
  }
}

/*mobile*/
@media screen and (max-width: 500px) {
  #galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "img1" "img2" "img3"  "img4";
  }
}

.slide {
  margin-top: 10px;
}

* {
  padding: 0%;
  margin: 0%;
}

header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #646464;
}

nav ul li {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
}

ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

ul a {
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.box_uno {
  background-color: red;
  width: 200px;
  height: 40px;
}

.box_dos {
  font-size: large;
  color: black;
  background-color: gray;
  width: 150px;
}

p {
  color: black;
}

.contenido_tres {
  border: 2px dashed red;
}

/*bucle*/
.botellas-1 {
  background-color: darkgreen;
  color: white;
  width: 200px;
}

.botellas-2 {
  background-color: darkgreen;
  color: white;
  width: 400px;
}

.botellas-3 {
  background-color: darkgreen;
  color: white;
  width: 600px;
}

.botellas-4 {
  background-color: darkgreen;
  color: white;
  width: 800px;
}

/*each*/
.beer1-fondo {
  width: 400px;
  height: 200px;
  background-image: url("../img/beer1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid crimson;
}

.beer2-fondo {
  width: 400px;
  height: 200px;
  background-image: url("../img/beer2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid crimson;
}

.beer3-fondo {
  width: 400px;
  height: 200px;
  background-image: url("../img/beer3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid crimson;
}

/*mapas*/
.btn--twitter {
  background-color: #9ebacf;
}

.btn--facebook {
  background-color: #68738b;
}

.btn--instagram {
  background-color: #5f260c;
}

/*Extend*/
.redSocial, .redsocial--social, .redsocial--nueva {
  border: 2px solid red;
  background-color: gold;
}

.redsocial--social {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 5px;
}

.redsocial--nueva {
  font-size: 30px;
  color: green;
  border: 3px dashed blue;
}

/*mixin*/
.mis_sabores {
  height: 50px;
  width: 50px;
  background-color: lightcoral;
}

* {
  margin: 0%;
  padding: 0%;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  width: 100%;
  background-color: #646464;
}

.container {
  margin-top: 30px;
}

.logo {
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */